In [49]:
import pandas as pd
import numpy as np

In [69]:
df = pd.read_csv('raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv')

In [32]:
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [5]:
# Question 1: Version of Pandas

pd.__version__

'1.3.3'

In [15]:
# Question 2: Number of columns in the dataset
# Question 3: Select columns with missing data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [19]:
# Question 4: Number of unique values in the 'ocean_proximity' column

df.ocean_proximity.nunique()

5

In [23]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [24]:
# Question 5: Average value of the 'median_house_value' for the houses near the bay

df_near_bay = df[df.ocean_proximity == 'NEAR BAY']
df_near_bay.median_house_value.mean()

259212.31179039303

In [36]:
# Question 6: Has the mean value changed after filling missing values?

# Calculate the average of total_bedrooms column in the dataset.
# Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
# Now, calculate the average of total_bedrooms again.
# Has it changed?


df['median_house_value'].mean()

206855.81690891474

In [37]:
df['median_house_value'].fillna(0, inplace=True)

In [38]:
df['median_house_value'].mean()

206855.81690891474

In [72]:
# Questions 7: Value of the last element of w* 

# Select all the options located on islands.
# Select only columns housing_median_age, total_rooms, total_bedrooms.
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Compute the inverse of XTX.
# Create an array y with values [950, 1300, 800, 1000, 1300].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the value of the last element of w?


df_islands = df[df.ocean_proximity == 'ISLAND']
df_islands = df_islands[['housing_median_age', 'total_rooms', 'total_bedrooms']]

X = df_islands.to_numpy() 
XT = X.T
#XTX = XT.dot(X)
XTX = np.dot(XT, X)
invertedXTX = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = np.dot(np.dot(invertedXTX, XT), y)

In [73]:
print(w)

[23.12330961 -1.48124183  5.69922946]